<main class="container">
  <%= link_to sanitize("&larr; Back to qoutes"), qoutes_path %>

  <div class="header">
    <h1>New qoute</h1>
  </div>
  <%= turbo_frame_tag @qoute do %>
    <%= render "form", qoute: @qoute %>
  <% end %>  
</main>